{{!-- USER'S HOME PAGE --}}

{{> nav/nav-block}}

<div class="main container-fluid">
  <div class="row row-body">
    <div class="col-md-3" id="left">
      <div id="userBox">
        <div id="userBackgroundImage" style="background-image: url({{{userImg}}});"></div>
        <div id="edit">
          <a href="">Edit Profile</a> <a href="">View Profile</a> <a href="">+Add Dog</a>
        </div>

        <div id="userDogs">
          {{#each dogs}}
            {{> dogs/dog-block}}
          {{/each}}

        </div>
      </div>
      <div id="settingsBox">
        settings
      </div>

    </div>


    <div class="col-md-9" id="right">
      <div id="map">map</div>
      <div id="match-display">
        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>

        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>
        <div class="match">helloe</div>

        <div class="match">helloe</div>
        <div class="match">helloe</div>

      </div>


    </div>



  </div>
</div>

<!--end main container-->