{{!-- USER'S HOME PAGE --}}

{{> nav/nav-block}}

<div class="main container-fluid" id="console-container">
  <div class="row row-body">
    <div class="col-md-3" id="left">
      <div id="userBox">
        <div id="userBackgroundImage" style="background-image: url({{{userImg}}});" data-id="{{consoleId}}"></div>
        <div id="edit">
          <div>
            <a class="edit link linkleft text-white" href="/editprofile">Edit Profile</a>
            <a class="edit link linkright text-white" href="/profile">ViewProfile</a>
          </div>
          <div class="addDog">
            <h4 class="text-white">Your Dogs</h4>
            <a class="link addlink" href="/survey" id="addDogBtn" src="https://www.freeiconspng.com/uploads/blue-plus-icon-6.png"alt=""></a>
          </div>
        </div>
        <div id="userDogs">
          {{#each dogs}}
          {{> dogs/dog-block}}
          {{/each}}
        </div>
      </div>
    </div>

    <div class="col-md-9" id="right">
<<<<<<< Updated upstream
      <div class="row" style="margin-top:5vh;">
        <div id="map">map</div>
        <div>
=======
      <div class="row invite-map-row" style="margin-top:5vh;">
        <div id="invites">
>>>>>>> Stashed changes
          <h4 class="yourInteractions">Invites</h4>
          <div id="settingsBox">
            {{#each interactions}}
            {{> interactions/interaction-block}}
            {{/each}}
          </div>
        </div>
      </div>

      <div id="match-display">
        {{#each matches}}
        {{> matches/dogMatch-block}}
        {{/each}}
      </div>
    </div>

  </div>
</div>
<div>
  {{> modal/interactionModal-block}}

</div>
<div> 
  {{> modal/interactionDetail-block}}
</div>
<div> 
  {{> modal/dogProfile-block}}
</div>

{{> nav/footer}}

<!--end main container-->
