{{!-- PUBLIC PROFILE (WHAT USER SEES WHEN VIEWING ANOTHER USER'S PROFILE) --}}

{{> nav/nav-block user=true register=false}}

<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="">Back to matches</a>

                {{!-- TODO: add handlebars in src: userInfo.??? --}}
                <img class="profile-picture" src="https://via.placeholder.com/300">

                {{!-- TODO: add button to message user --}}
                <button class="arrow-button"><</button>
                <button class="arrow-button">></button>     
            </div>
            <div class="col">
                <h4>{{userInfo.username}}</h4>
                <p>{{userInfo.profile}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
            
            </div>

            <div class="col">
            
            </div>
            <div class="col">
            
            </div>
        </div>
    </div>
</div>