<div class="modal" id="interaction-detail" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
            <div id="ownerPic-interaction"></div>
            <div id="dogPic-interaction"></div>
               
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
                    <p id="name-detail"></p>
                    <p id="dog-detail"></p>
                    <p id="where-detail"></p>
                    <p id="when-detail"></p>
                    <p id="date-detail"></p>
                    <p id="comment-detail"></p>
        </div>
    

      <div class="modal-footer">
        <button id="interaction-accept" type="button" class="btn btn-primary">Accept</button>
         <button id="interaction-decline" type="button" class="btn btn-primary">Decline</button>
      </div>
    </div>
  </div>
</div>