body {
  color: #fff;
  background-color: #41aaa8;
  background-size: cover;
  height:100vh;
}

nav {
  background-color: #b5525c;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.jumbotron {
  background: #105e62;
  color: #fff;
}

.btn {
  background-color: #41aaa8;
  color: #fff;
  border: 1px solid #a2eae2;
}

.btn:hover {
  background-color: #a2eae2;
}

#register-btn {
  background-color: #b5525c;
  color: #fff;
  border: 1px solid #cc888e;
}

#register-btn:hover {
  background-color: #cc888e;
}

.sidescroll-container {
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.sidescroll-item {
  position: relative;
  display: inline-block;
  margin: 15px 5px;
  border-top-right-radius: 4px;
  width: 116px;
  height: 100%;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.modal {
  color: #000;
}

#user-form, #create-form {
  padding: 0;
  border-radius: 15px;
  margin: 0;
}

.header-wrap, .create-user-wrap {
  position: relative;
  width: 100%;
  height: 5rem;
  margin: 0 auto;
  padding: 0;
  background-color: #105e62;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-top: 10px;
}

.header-wrap {
  color: #fff;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: #ff5959 !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  padding: 8rem 5rem;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: #105e62;
  height: 800px;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
}

.userContainer {
  padding: 3%;
  margin-top: 3rem;
  background: #233142;
  height: 100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 100%;
}

.surveyContainer {
  position: relative;
  width: 60vw;
  height: 75vh;
  margin: 5rem auto;
  border-radius: 15px;
  background-color: #fff;
  color: #111;
}

.surveyInnerContainer {
  position: absolute;
  width: 100%;
  height: 85%;
  margin: 0;
  line-height: 200%;
  overflow-y: scroll;
}

.sectionName {
  position: relative;
  width: 100%;
  background-color: #cc888e;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #105e62;
}

.main{
  height: 100%;
  margin: 50px auto;
  background: black;
}

#userCard {
  width: 100%;
  height: 100%;
}

#left{
  background: #233142;;
  height: 100%;
}

#right {
  background: white;
  height: 100%;
}

#userBox{
  margin-top: 10px;
  height: 70%;
}

#settingsBox{
  height: 20%;
  border-top: 3px solid lightblue;
}

.row-body {
  height: 100%;
}

#userBackgroundImage{
  height: 30%;
  width: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
#edit {
  height: 10%;
}

#userDogs {
  height: 60%;
  width: 100%;
  border: 1px solid white;
  overflow: scroll;
  bottom: 0;
  box-shadow: 2px 2px 2px black;

}
#map {
  height: 450px;
  width: 100%;
  margin-top: 7px;
  padding: 10px;
}
#map {
  height: 50%;
  border: 1px solid black;
}

#match-display {
  background: lightblue;
  height: 40%;
  margin-top: 10px;
  bottom: 5%;
  border: 1px solid black;
  white-space: nowrap;
  overflow: auto;
}

.match {
  height: 90%;
  width: 200px;
  display: inline-block;
  border: 1px solid gray;
  margin: 10px 15px 10px 15px;
  padding: 10px;
  box-shadow: 2px 4px 10px black;
}

.userDog{
  height: 60px;
  width: 100%;
  padding: 5px;
  color: white;
}
.userDog:hover{
  color: blue;
  background: white;
}
  
#side-scroll {
  background: #41aaa8;
}

.profile-picture, 
.dog-picture {
  border-radius: 15px;
  box-shadow: 1px 2px 2px #105e62;
}

.profile-picture {
  margin-bottom: 1rem;
}

.dog-picture {
  margin-top: 1rem;
}

#editProfileBtn   {
  margin-left: 25px;
}

.link {
  text-decoration: none;
  color: white;
}
.link:hover{
  color: white;
  text-decoration: none;

}

.linkleft {
  float: left;
}
.linkright{
  float: right;
}
.addDog{
  clear: both;
}
.edit {
  color: lightblue;
}

#hiddenUserId {
  display: none;
}

.progress-bar-container {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  display: flexbox;
  width: 100vw;
  height: 10vh;
  background-color: #b5525c;
}

.progress-bar {
  counter-reset: step;
  display: flex;
  flex-direction: row;
  background-color: #b5525c;
  margin-top: 2vh;
}

.progress-bar li {
  list-style-type: none;
  float: left;
  width: 33.33%;
  position: relative;
  text-align: center;
}

.progress-bar li::before {
  content: counter(step);
  counter-increment: step;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #cc888e;
  display: block;
  text-align: center;
  margin: 0px auto 10px auto;
  border-radius: 50%;
}

.progress-bar li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  top: 15px;
  left: -50%;
}

.progress-bar li:first-child::after {
  content: none;
}

.matchImg{
  background-size: contain;
  background-repeat: no-repeat;
}