body {
  color: white;
  background-size: cover;
  height:100vh;
}

.sidescroll-item {
  position: relative;
  display: inline-block;
  margin: 15px 5px;
  border-top-right-radius: 4px;
  width: 116px;
  height: 100%;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: #233142;
}

.modal {
  color: black;
}

.btn {
  color:white;
  background: #ff5959;
  border: 1px solid white;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: #ff5959 !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: #233142;
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
}

.userContainer {
  padding: 3%;
  margin-top: 3rem;
  background: #233142;
  height: 100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 100%;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #233142;
}



.main{
  height: 100%;
  margin: 50px auto;
  background: black;
}


#userCard {
  width: 100%;
  height: 100%;
}

#left{
  background: #233142;;
  height: 100%;
}

#right {
  background: white;
  height: 100%;
}

#userBox{
  margin-top: 10px;
  height: 70%;
  border: 1px solid black;
}

#settingsBox{
  height: 25%;
  border: 1px solid black;
}

.row-body {
  height: 100%;
}

#userBackgroundImage{
  height: 30%;
  width: auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: 1px solid white;
  
}
#edit {
  height: 10%;
}

#userDogs {
  height: 60%;
  width: 100%;
  border: 1px solid white;
  overflow: scroll;
  bottom: 0;

}
#map {
  height: 450px;
  width: 100%;
  margin-top: 7px;
  padding: 10px;
}
#map {
  height: 50%;
  border: 1px solid black;
}

#match-display {
  background: lightblue;
  height: 40%;
  margin-top: 10px;
  bottom: 5%;
  border: 1px solid black;
  white-space: nowrap;
  overflow: auto;
}

.match {
  height: 90%;
  width: 200px;
  display: inline-block;
  border: 1px solid gray;
  margin: 10px 15px 10px 15px;
  padding: 10px;
}

.userDog{
  height: 60px;
  width: 100%;
  padding: 5px;
  color: white;
}
.userDog:hover{
  color: blue;
  background: white;
}