body {
  color: white;
  background-size: cover;
  height:100%
}

.sidescroll-container {
  position: fixed;
  bottom: 2rem;
  margin-top: 3rem;
  /* height: 180px; */
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: row;
}

.sidescroll-item {
  position: relative;
  display: inline-block;
  margin: 15px 5px;
  border-top-right-radius: 4px;
  width: 116px;
  height: 100%;
  vertical-align: bottom;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron {
  background: #233142;
}

.modal {
  color: black;
}

.btn {
  color:white;
  background: #ff5959;
  border: 1px solid white;
}

#user-form, .header-wrap, #create-form, .create-user-wrap {
  padding: 20px;
  border-radius: 15px;
  margin: 20px 0;
}

#update-err-msg,
#login-err-msg,
#create-err-msg {
  color: #ff5959 !important;
}

#go-home {
 width: auto;
 height: 65px;
}

.container {
  padding-bottom: 2%;
  margin-top: 10%;
  background: #233142;
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 600px;
}

.narrowContainer {
  padding: 3%;
  margin-top: 3rem;
  background: #233142;
  height:100%;
  border-radius: .25rem;
  margin-bottom: 2%;
  width: 100%;
}

[data-useremail="true"] {
  color: white !important;
}
[data-register="true"] {
  color: white !important;
}

.lead {
  font-size: 1.8rem;
  font-weight: 500;
}

.userId h2, .header-wrap h1 {
  text-transform: capitalize;
}

hr {
  background-color: #fff !important;
}

.list-group-item {
  line-height: 2.5;
}

.card-body {
  color: #233142;
}

#map {
  height: 450px;
  width: 100%;
  margin-top: 7px;
}