<div class="match">
    <h5 class="matchName">{{dogName}}</h5>
    <div class="matchImage">
        <img class="otherDogImage" src="{{dogPic}}" alt="dogs pic" data-id="{{id}}">
    </div>
    <h5>View</h5>
    
    
</div>