<!--TODO: change this from Dog info to Interaction info -->

<div class="userDog" data-id="{{id}}">
    <h3>{{dogName}}</h3>
    <div class="dogPicList">
        <img class="dogThumbnail" src="{{dogPic}}" alt="dog picture">
    </div>
</div>