<footer>
    <div class="row">
        <div class="col">
            <h5 class="text-white-50">Hi, there!</h5>
            <p class="text-white-50">
                At Woofer, we see dogs as family. We understand 
                that getting enough playtime with others is 
                important to your pup's wellbeing. We also 
                understand that--just like people--dog's get along 
                with some better than others. That's why we created 
                Woofer, to bring you a simple way of connecting your
                dog with potential playmates.
            </p>
        </div>
        <div class="col">
            <div class="row">
                <h5 class="text-white-50">Contributors</h5>
            </div>
            <div class="row">
                <h6 class="text-white-50"><a href="https://github.com/charlesmbrady">Charles Brady</a></h6>
            </div>
            <div class="row">
                <h6 class="text-white-50"><a href="https://github.com/danieldayton33">Daniel Dayton</a></h6>
            </div>
            <div class="row">
                <h6 class="text-white-50"><a href="https://github.com/leaf-junkie">Julie Ragsdale</a></h6>
            </div>
            <div class="row">
                <h6 class="text-white-50"><a href="https://github.com/JamilW">Jamil Weeks</a></h6>
            </div>
        </div>
        <div class="col">
            <img src="uploads/logo.png">
            <span class="align-middle"><p class="text-white-50">© Woofer | 2019</p></span>
        </div>
    </div>
</footer>