<footer>
        <div class="row">
            <div class="col-sm">
                <h4>Use Woofer to chat with nearby dog owners and schedule playdates</h4>          
            </div>
            <div class="col-sm">
                <p>Contributors</p>
                <a href="https://github.com/charlesmbrady"><h6>Charles Brady</h6></a>
                <a href="https://github.com/danieldayton33"><h6>Daniel Dayton</h6></a>
                <a href="https://github.com/leaf-junkie"><h6>Julie Ragsdale</h6></a>
                <a href="https://github.com/JamilW"><h6>Jamil Weeks</h6></a>
            </div>
            <div class="col-sm">
                <p>Copyright 2019</p>
            </div>
        </div>
</footer>