<footer>
    <div class="row">
        <div class="col-sm">
            <h3>Woofer</h3>            
        </div>
        <div class="col-sm">
            <p>Find us on Github!</p>
            <a href="https://github.com/charlesmbrady">Charles Brady</a>
            <a href="https://github.com/danieldayton33">Daniel Dayton</a>
            <a href="https://github.com/leaf-junkie">Julie Ragsdale</a>
            <a href="https://github.com/JamilW">Jamil Weeks</a>
        </div>
        <div class="col-sm">
            <p>Copyright 2019</p>
        </div>
    </div>
</footer>