<div class="userDog" data-id="{{id}}">
    <h3 class="userDogName">{{dogName}}</h3>
    <div class="dogPicList">
        <img class="dogThumbnail" src="{{dogPic}}" alt="dog picture">
    </div>
</div>